@page "/"
@inject DIService di
@using WasmReload.Client.Services
@using WasmReload.Shared.Interfaces
@using WasmReload.Shared.Models
@using Newtonsoft.Json

<h1>Hello, world!</h1>
<h4>Customer Name @Name</h4>
Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
	public string Name { get; set; }

	protected override void OnAfterRender(bool firstRender)
	{
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			@*var type = Type.GetType($"WasmReload.Shared.Models.{"Customer"}, WasmReload.Shared");
			var des = JsonConvert.DeserializeObject("{\"Name\": \"Bob\", \"Id\" : \"\"}", type);
*@
			var service = (ICustomersService)(await di.ResolveCustomersServiceAsync(typeof(ICustomersService)));
			var customer = await service.CreateCustomerAsync(new Customer() { Name = "Bob Gingrich" });
			Name = customer.Name;
			StateHasChanged();
		}
	}
}
